Source: ros-rolling-dolly-follow
Section: misc
Priority: optional
Maintainer: Louise Poubel <burajiru.no.chapulina@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libgeometry-msgs-dev, libsensor-msgs-dev, python3-geometry-msgs, python3-sensor-msgs, ros-geometry-msgs, ros-rolling-rclcpp, ros-sensor-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-dolly-follow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeometry-msgs-dev, libsensor-msgs-dev, python3-geometry-msgs, python3-sensor-msgs, ros-geometry-msgs, ros-rolling-rclcpp, ros-sensor-msgs, ros-rolling-ros-workspace
Description: Follow node for Dolly, the robot sheep.
